@import "images";

// Variables
$background: #97c6d7;
$modal: #bdc099;
$button: #98937e;
$white: #f9f7f7;
$green: #005734;
$yellow: #ff0;
$black: #000;
$orange: #ff9800;

// mixins
@mixin hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

// simple reset
* {
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: $background;
}

button {
    cursor: pointer;
}

p {
    font-family: Helvetica;
    margin: 0;
    padding: 0 5px;
}

.game {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    height: 100%;

    // Game buttons
    &__button {
        background: $button;
        border: solid 2px $green;
        border-radius: 5px;
        margin: 0 0 1em;
        color: $white;
        padding: 10px 15px;
        font-size: 1.1em;

        &--1 {
            .game--type1 & {
                opacity: 0.3;
                cursor: default;
            }
        }

        &--2 {
            .game--type2 & {
                opacity: 0.3;
                cursor: default;
            }
        }

        &--3 {
            .game--type3 & {
                opacity: 0.3;
                cursor: default;
            }
        }
    }

    &__submit {
        .js & {
            display: none;
        }
    }

    &__extend {
        display: none;

        &--active {
            display: inline-block;
        }
    }

    &__change {
        background: none;
        border: none;
        font-size: 30px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 2;

        span {
            @include hidden;
        }

        &::after {
            content: '\2699';
        }

        .game--type1 & {
            top: 180px;
        }

        &--open {
            &::after {
                content: '\2716';
            }
            .game--type1 & {
                top: 5px;
            }
        }
    }

    // Settings
    &__settings {
        align-items: center;
        background: $modal;
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        vertical-align: middle;
        z-index: 1;

        p {
            margin-bottom: 1em;
        }

        &--open {
            display: flex;
        }
    }

    &__settings-content {
        width: 100%;
        text-align: center;
    }

    &__type,
    &__rules {

        .game__button {
            display: block;
            margin: 0 auto 2em;
        }
    }

    // 2 player mobile setting: 
    &__arena {
        height: 100%;

        @media (max-width: 800px) {

            .player1 {
                left: 0;
                position: absolute;
                right: 0;
                bottom: 0;

                .options {
                    margin-bottom: 0;
                }
            }

            .game__extend,
            .game__restart {
                font-size: 13px;
                padding: 3px 5px;
            }

            .game--type1 & {
                padding-top: 150px;
                position: relative;

                &--settings-open {
                    padding-top: 0;
                }

                .status__moves {
                    display: none;
                }

                .status__score {
                    display: block;
                }

                .player2 {
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: rotate(180deg);

                    .options {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

// Scoreboard and commentary
.status {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 0 1em;
    position: relative;

    &__round {
        padding-left: 5px;
        width: 50%;
    }

    &__winner {
        padding-right: 5px;
        width: 50%;
    }

    &__score {
        font-family: monospace;
        font-size: 20px;
        margin-bottom: 1em;
        text-align: center;
        width: 100%;

        &--player2 {
            display: none;
            content: attr(data-score);
            left: 0px;
            padding-left: 5px;
            position: absolute;
            right: 0;
            top: 8px;
            transform: rotate(180deg);
            width: 100%;
        }
    }

    &__moves {
        list-style: none;
        padding-left: 0;
        width: 100%;
    }
}

.move {
    display: flex;

    &__options {
        width: 50%;

        &::before {
            content: 'R. ';

            @media (min-width: 450px) {
                content: 'Round ';
            }
        }
    }

    &__result {
        width: 60%;
    }
}

// player controls
.player1 {
    .game--type3 & {
        display: none;
    }
}

.player2 {
    .game--type2 &,
    .game--type3 & {
        display: none;
    }
}

.player1,
.player2 {
    position: relative;

    &::after {
        bottom: 0;
        color: $white;
        content: 'game over';
        display: none;
        font-size: 20px;
        left: 0;
        padding-top: 27%;
        position: absolute;
        right: 0;
        text-align: center;
        text-shadow: 1px 1px 1px $black;
        text-transform: uppercase;
        top: 0;
    }

    .game--won & {

        .options {
            opacity: 0.3;
        }

        &::after {
            display: block;
        }
    }
}

// options
.options {
    display: flex;
    margin-bottom: 1em;

    &--chosen {
        position: relative;

        &::after {
            align-content: center;
            align-items: center;
            align-self: center;
            background: $black;
            bottom: 0;
            color: white;
            content: 'chosen';
            display: flex;
            left: 0;
            padding-left: 41%;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
}

.option {
    background: $black;
    color: $white;
    cursor: pointer;
    padding-bottom: 10px;
    text-align: center;
    width: percentage(1/3);

    &::before {
        background: no-repeat $yellow 0 0;
        background-size: contain;
        content: '';
        display: block;
        height: 100px;
        margin: 0 auto;
        transition: background-color 0.3s;
        width: 100px;
    }

    &:hover,
    &:active {
        &::before {
            background-color: $orange;
        }
    }

    .game--lizard-spock & {
        width: percentage(1/5);

        &::before {
            height: 70px;
            width: 70px;
            @media (min-width: 650px) {
                height: 100px;
                width: 100px;
            }
        }
    }

    &-1 {
        &::before {
            @include rock;
        }
    }

    &-2 {
        &::before {
            @include paper;
        }
    }

    &-3 {
        &::before {
            @include scissors;
        }
    }

    &-4 {
        &::before {
            @include lizard;
        }
    }

    &-5 {
        &::before {
            @include spock;
        }
    }
}

.option-input {
    @include hidden;
}

// expanded rules
.lizard-spock {
    display: none;

    .game--lizard-spock & {
        display: inline-block;
    }
}
