* {
    box-sizing: border-box;
}

// Game buttons
.game {    
    &__button {
        border: solid 2px grey;

        &--1 {
            .game--type1 & {
                border-color: yellow;
            }
        }

        &--2 {
            .game--type2 & {
                border-color: yellow;
            }
        }

        &--3 {
            .game--type3 & {
                border-color: yellow;
            }
        }
    }

    &__submit {
        .js & {
            display: none;
        }
    }
}

// Scoreboard and commentary
.status {
    display: flex;
    flex-wrap: wrap;

    &__round {
        width: 50%;
        padding-left: 5px;
    }

    &__score {
        text-align: right;
        width: 50%;
        padding-right: 5px;
    }

    &__moves {
        width: 100%;
        padding-left: 0;
        list-style: none;
    }
}

.move {
    display: flex;

    &__options {
        width: 50%;

        &:before {
            content: "R. ";

            @media (min-width: 450px) {
                content: "Round ";
            }
        }
    }

    &__result {
        width: 60%;
    }
}

// player controls
.player1 {
    .game--won &,
    .game--type3 & {
        display: none;
    }
}

.player2 {
    .game--won &,
    .game--type2 &,
    .game--type3 & {
        display: none;
    }
}

// expanded rules
.lizard-spock {
    display: none;

    .game--lizard-spock & {
        display: inline-block;
    }
}