<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<main class="game">
        <h1>Rock, Paper, Scissors</h1>

        <div class="game__type">
            <button class="type1" data-type="pvc">Player vs Computer</button>
            <button class="type2" data-type="cvc">Computer vs Computer</button>
        </div>

        <div class="game__arena">
            <div class="status">
                <p class="status__score"></p>
                <p class="status__round"></p>
                <p class="status__winner"></p>
            </div>

            <div class="player1">
                <p>Player1</p>
                <div class="player1__options">
                    <label class="option1">
                        Rock
                        <input type="radio" class="option" name="player1" value="rock" />
                    </label>
                    <label class="option2">
                        Paper
                        <input type="radio" class="option" name="player1" value="paper" />
                    </label>
                    <label class="option3">
                        Scissors
                        <input type="radio" class="option" name="player1" value="scissors" />
                    </label>
                </div>
            </div>

            <div class="player2">
                <p>Player2</p>
                <div class="player2__options">
                    <label class="option1">
                        Rock
                        <input type="radio" class="option" name="player2" value="rock" />
                    </label>
                    <label class="option2">
                        Paper
                        <input type="radio" class="option" name="player2" value="paper" />
                    </label>
                    <label class="option3">
                        Scissors
                        <input type="radio" class="option" name="player2" value="scissors" />
                    </label>
                </div>
            </div>

            <button class="game__restart">Restart game</button>
        </div>
    </main>
</body>
</html>
